﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IADSD Hackathon</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IADSD Hackathon", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Leaderboard", "Leaderboard", "Home")</li>
                    @if (User.IsInRole("admin"))
                    {
                        <li><a href="@Url.Action("Leaderboard", "Home")?isPrivate=true">LBPrivate</a></li>
                        <li><a href="@Url.Action("Leaderboard", "Home")?isPrivate=true&isTotal=true">LBPrivateTotal</a></li>
                        <li><a href="@Url.Action("LeaderboardTB", "Solutions")?isTotal=false">LBTBs</a></li>
                        @*<li>@Html.ActionLink("CleanSubmissions", "DeleteAllSubmissions", "Solutions")</li>*@
                    }
                    <li>@Html.ActionLink("Направить решение", "Submit", "Solutions")</li>
                    @*<li>@Html.ActionLink("Контакты", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row text-center">
            <h1><span class="label label-info" id="timelast"></span></h1>
            <script type="text/javascript">
                function get_time_diff(datetime) {
                    var datetime = typeof datetime !== 'undefined' ? datetime : "2017-29-06 17:45:00.000000";

                    var datetime = new Date(datetime).getTime();
                    var now = new Date().getTime();
                    //var now = Date.now();
                    //var now = new Date(Date.now()+" UTC");

                    if (isNaN(datetime)) {
                        return "";
                    }
                    //    console.log( datetime + " " + now);
                    if (datetime < now) {
                        var milisec_diff = now - datetime;
                    } else {
                        var milisec_diff = datetime - now;
                    }
                    var days = Math.floor(milisec_diff / 1000 / 60 / (60 * 24));
                    var date_diff = new Date(milisec_diff);
                    //return days + " Days "+ (date_diff.getHours()-3) + " Hours " + date_diff.getMinutes() + " Minutes " + date_diff.getSeconds() + " Seconds";
                    return (date_diff.getHours() - 3) + ":" + date_diff.getMinutes() + ":" + date_diff.getSeconds();
                }
                //writeln(new Date().getTime())
                //writeln(get_time_diff())
                var timerId = setTimeout(function tick() {
                    //$('#timelast').text("dgdg"+get_time_diff());
                    console.log(get_time_diff());
                    //alert("тик");
                    timerId = setTimeout(tick, 2000);
                }, 1000);
            </script>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - IADSD</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
