﻿@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Internal Audit Data Science Day<br />Hackathon</h1>
    <p class="lead">Хакатон по анализу данных УВА ПАО "Сбербанк"</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-sm-12">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#task" aria-controls="task" role="tab" data-toggle="tab">Задание</a></li>
                <li role="presentation"><a href="#metric" aria-controls="metric" role="tab" data-toggle="tab">Метрика</a></li>
                <li role="presentation"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Данные</a></li>
                <li role="presentation"><a href="#baseline" aria-controls="baseline" role="tab" data-toggle="tab">Baseline</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="task">
                    <p></p>
                    <p>Данные содержат транзакции по кредитным картам в течение 2 дней сентября 2013 года европейскими держателями карт. Часть транзакций являются мошенническими. Особенностью датасета является несбалансированность классов.</p>
                    <p>Датасет содержит только числовые входные переменные, которые являются результатом преобразования PCA, что обусловлено необходимостью анонимизации данных: V1, V2, ... V28. Единственными непреобразованными параметрами являются “Time” и “Amount”.</p>
                    <p>Time – количество секунд, прошедших с начала наблюдения до текущей транзакции.</p>
                    <p>Class - принимает значение 1 в случае мошенничества и 0 в противном случае.</p>
                    <p>Задача - определить мошеннические транзакции для тестовой выборки.</p>
                    @*<p>Датасет создан во время исследовательского проекта Worldline и Machine Learning Group (http://mlg.ulb.ac.be) ULB (Université Libre de Bruxelles). Более подробную информацию о текущих и прошлых проектах по смежным темам можно найти на <a target="_blank" href="http://mlg.ulb.ac.be/BruFence">http://mlg.ulb.ac.be/BruFence</a> и <a href="http://mlg.ulb.ac.be/ARTML" target="_blank">http://mlg.ulb.ac.be/ARTML</a></p>
                    <p>Для цитирования: Andrea Dal Pozzolo, Olivier Caelen, Reid A. Johnson and Gianluca Bontempi. Calibrating Probability with Undersampling for Unbalanced Classification. In Symposium on Computational Intelligence and Data Mining (CIDM), IEEE, 2015</p>*@
                </div>
                <div role="tabpanel" class="tab-pane" id="metric">
                    <p></p>
                    <p>В качестве метрики качества решения используется F1:</p>
                    <p>F1 = 2 * (precision * recall) / (precision + recall)</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="data">
                    <p></p>
                    <p><a href="@Url.Content("~/Content/Datasets/dataset_train.csv")" target="_blank">Train</a></p>
                    <p><a href="@Url.Content("~/Content/Datasets/dataset_test.csv")" target="_blank">Test</a></p>
                    <p><a href="@Url.Content("~/Content/Datasets/sample_submission.csv")" target="_blank">Sample submission</a></p>
                </div>
                <div role="tabpanel" class="tab-pane" id="baseline">
                    <p></p>
                    <p>В качестве baseline-решения предлагается логистическая регрессия.</p>
                    <p>Публичный F1 = 0.706</p>
                    <p><a href="@Url.Content("~/Content/Notebooks/baseline.ipynb")" target="_blank">Baseline.ipynb</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
    @*<div class="row">
        <div class="col-sm-12">
            <a href="@Url.Action("Submit", "Solutions")" class="btn btn-success">Направить решение</a>
        </div>
    </div>

    @{Html.RenderAction("Leaderboard", "Home");}*@

@*
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@