﻿@{
    ViewBag.Title = "Leaderboard";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

@{Html.RenderAction("Leaderboard", "Solutions", new { isPrivate = ViewBag.isPrivate, isTotal = ViewBag.isTotal });}
