﻿@model List<Hackathon.Models.LeaderboardItemModel>

@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Участник</td>
                    <td>Фамилия</td>
                    <td>Метка</td>
                    <td>Private</td>
                    <td>Public</td>
                    <td>Время</td>
                    <td>Сабмитов</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="7" class="text-center"><h4>Данные отсутствуют</h4></td>
                    </tr>
                }
                @foreach (var sub in Model)
                {
                    <tr>
                        <td>@sub.UserName</td>
                        <td>@sub.Surname</td>
                        <td>@sub.Title</td>
                        <td>@sub.ScorePrivate</td>
                        <td>@sub.ScorePublic</td>
                        <td>@sub.Submited.ToShortDateString() @sub.Submited.ToShortTimeString()</td>
                        <td>@sub.SubmissionsCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
