﻿@model Hackathon.Models.LeaderboardTBModel

@{
    ViewBag.Title = "Leaderboard for TBs";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <td>ТБ</td>
                    <td>Score</td>
                    <td>Private</td>
                    <td>PrivateTotal</td>
                    <td>Сабмитов</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Count() == 0)
                {
                    <tr>
                        <td colspan="7" class="text-center"><h4>Данные отсутствуют</h4></td>
                    </tr>
                }
                @foreach (var sub in Model.Items)
                {
                    <tr>
                        <td>@sub.TerBank</td>
                        <td>@sub.ScorePublic</td>
                        <td>@sub.ScorePrivate</td>
                        <td>@sub.ScoreTotal</td>
                        <td>@sub.SubmissionsCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
