﻿@model Hackathon.Models.LeaderboardModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Участник</td>
                    <td>ФИО</td>
                    <td>ТБ</td>
                    <td>Метка</td>
                    <td>Score</td>
                    @if (Model.IsPrivate)
                    {
                        <td>Private</td>
                        if (Model.IsTotal)
                        {
                            <td>PrivateTotal</td>
                        }
                    }
                    <td>Время</td>
                    <td>Сабмитов</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Count() == 0)
                {
                    <tr>
                        <td colspan="7" class="text-center"><h4>Данные отсутствуют</h4></td>
                    </tr>
                }
                @foreach (var sub in Model.Items)
                {
                    <tr>
                        <td>@sub.UserName</td>
                        <td>@sub.Surname<br />@sub.Name</td>
                        <td>@sub.TerBank</td>
                        <td>@sub.Title</td>
                        <td>@sub.ScorePublic</td>
                        @if (Model.IsPrivate)
                        {
                            <td>@sub.ScorePrivate</td>
                            if (Model.IsTotal)
                            {
                                <td>@sub.ScoreTotal</td>
                            }
                        }
                        <td>@sub.Submited.ToShortDateString() @sub.Submited.ToShortTimeString()</td>
                        <td>@sub.SubmissionsCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
