﻿@model List<Hackathon.Entities.Submission>
@{
    ViewBag.Title = "Solutions";
}

<h2>Решения</h2>

<div class="row">
    <div class="col-sm-4">
        
    </div>
</div>

@{Html.RenderAction("Leaderboard", "Home");}