﻿@model Hackathon.Models.SubmissionModel

@{
    ViewBag.Title = "Submit";
}

<h2>Отправить решение</h2>

<div class="row">
    <div class="col-md-12">
        <section id="submitForm">
            @using (Html.BeginForm("Submit", "Solutions", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />


                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Title, new { @class = "form-control" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.Title)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SolutionFile, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.SolutionFile, new { type = "file" })
                        <div class="text-danger">
                            @Html.ValidationMessageFor(m => m.SolutionFile)
                            @Html.ValidationMessageFor(m => m.FileName)
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Направить</button>
            }
        </section>
    </div>
</div>

