﻿@model Hackathon.Controllers.ScoreResult

@{
    ViewBag.Title = "SubmissionError";
}

<h2>Ошибка</h2>

<div class="alert alert-danger">
    @foreach (var error in Model.Errors)
    {
        <p>@error</p>
    }
</div>

